<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdk.dm.dao.R_DAO">
        <!--목록 조회 -->
        <select id="R_List" parameterType="int" resultType="review">
            SELECT * FROM REVIEW WHERE RPRNUM = #{RPRNUM}
        </select>
        <!-- 작성 -->
        <insert id="R_Write" parameterType="review">
            INSERT INTO REVIEW VALUES(REVIEW_SEQ.NEXTVAL, #{RPRTNUM}, #{RPRNUM}, #{RMID}, #{RCONTENT}, SYSDATE)
        </insert>
        <!-- 수정 -->
        <update id="R_Modify" parameterType="review">
            UPDATE REVIEW SET RCONTENT = #{RCONTENT} WHERE RNUM = #{RNUM} AND RPRNUM = #{RPRNUM}
        </update>
        <!-- 삭제 -->
        <delete id="R_Delete" parameterType="review">
            DELETE FROM REVIEW WHERE RNUM = #{RNUM} AND RPRNUM = #{RPRNUM}
        </delete>
    </mapper>